<!-- MainIndex-->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>


<!--Main Content-->
<!-- Table for Database -->
<main class="container">
     <div class="row">
        <div class="offset-md-1 col-md-10">
           <br> <h1><% title %> </h1> <br>  
           <a href = "/experience-list/add" class="btn btn-primary" role="button">
           <i class = "fas fa-plus-circle"> </i> Add Experience </a>  
        
        <table class="table table-bordered table-striped table-hover">
            <tr class="d-flex">
                <th class="text-center col-2">Title</th>
                <th class="text-center col-3">Organization</th>
                <th class="text-center col-2">Start Date</th>
                <th class="text-center col-2">End Date</th>
                <th class="text-center col-2">Place</th>
                <th class="text-center col-1"></th>
                <th class="text-center col-1"></th>


            </tr>
            <% for(let count=0;count<ExperienceList.length;count++) { %>    
            <tr class="d-flex">
                <td class="text-center col-2"><%= ExperienceList[count].Title %></td>
                <td class="text-center col-3"><%= ExperienceList[count].Organization %></td>
                <td class="text-center col-2"><%= ExperienceList[count].StartDate %></td>
                <td class="text-center col-2"><%= ExperienceList[count].EndDate %></td>
                <td class="text-center col-2"><%= ExperienceList[count].Place %></td>
                <td class="text-center col-1">
                    <a href="/experience-list/edit/<%= ExperienceList[count]._id %>" 
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                </td>
                <td class="text-center col-1">
                    <a href="/experience-list/delete/<%= ExperienceList[count]._id %>" 
                        class="btn btn-danger btn-sm">
                        <i class="fas trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>

  
  </div>
</main>
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>